@charset "utf-8";

body {
  margin: 0;
}

.container {
  font-weight: bold;
  font-size: 20px;
  display: flex;
  border: 5px solid black;
  height: 100%;
  flex-flow:  wrap;
}

div.item1 {
  background-color: red;
  width: 100vw; height: 10vw;
}
div.item2 {
  background-color: orange;
  width: 100vw; height: 5vw;
}
div.item3 {
  background-color: yellow;
  height: 50vw; width: 40%;
}
div.item4 {
  background-color: green;
  width: 60%;
}