@charset "utf-8";

caption {
  text-align: center;
  border: 3px solid blue;
  border-bottom: 0;
  border-radius: 20px 20px 0 0;
  background: orangered;
  color: white;
}

table{
  text-align: center;
  border: 3px solid blue;
  border-top: 1px solid black;
  border-collapse: collapse;
}

tr td {
  border: 1px solid black;
  
}
tr th{
  width: 100px;
  border: 1px solid black;
  background: orange;
}
tr td{
  width: 200px;
}
